<<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ArtStation Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css')}}">
  </head>

  <body>
    <div class="container">
        {% for art in urls %}
          <a href="/view/{{ art.hash }}">
            <div class="art {{ art.hash }}">
              <img src={{ art.URL }}>
            </div>
          </a>
        {% endfor %}
      
    </div>
  </body>
</html>


