<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Art Viewer</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=700, initial-scale=0.5" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='viewer.css')}}"
    />

    <script src="{{ url_for('static', filename='script1.js') }}"></script>
    <script src="{{ url_for('static', filename='script2.js') }}"></script>
  </head>
  <script>
    // loads all the image urls
    const imageUrls = {{ full_url['Image Links'] | tojson }};
    // imageUrls.push({{ full_url['Cover Art'] }});

    // Preload images upto 3 images
    const images = [];
    // imageUrls.slice(0, 3)
    imageUrls.forEach((url) => {
      const img = new Image();
      img.src = url;
      images.push(img);
    });
    // console.log('All images preloaded!');

    // preload HD images only on desktop
    if (device_type == "desktop") {
      const HD_images = [];
      imageUrls.forEach((url) => {
        const img = new Image();
        img.src = url.replace('/large/', '/4k/');
        HD_images.push(img);
      });
    }
  </script>

  <body>
    <div class="menu"></div>
    <div class="menu2">
      <h4 id="size_info"></h4>
      <h2 id="title">
        <a href="https://www.artstation.com/artwork/{{hash}}" target="_blank">
          {{ full_url['Title'] }}
        </a>
      </h2>

      <!-- download button -->
      <a class="link" href="{{ full_url[0] }}" target="_blank">
        <img
          class="svg icon"
          src="{{ url_for('static', filename='icons/download_icon.svg')}}"
      /></a>
    </div>

    <div id="wrapper">
      <div id="loading">Loading...</div>
      <img id="viewer" />
    </div>

    <!-- Floating help icon -->
    <div id="help-icon">
      <img
        src="/static/icons/info_icon.png"
        style="width: 30px; height: 30px"
      />
    </div>

    <!-- Help popup box -->
    <div id="help-popup" style="display: none">
      <h3>Keyboard Shortcuts and Navigation</h3>
      <table style="border-collapse: separate; border-spacing: 0 10px">
        <tr>
          <td style="padding-right: 15px">
            <img src="/static/icons/left.png" />
          </td>
          <td>Previous Image</td>
        </tr>
        <tr>
          <td style="padding-right: 15px">
            <img src="/static/icons/right.png" />
          </td>
          <td>Next Image</td>
        </tr>
        <tr>
          <td style="padding-right: 15px">
            <img src="/static/icons/square-0.png" />
          </td>
          <td>Fit to Screen</td>
        </tr>

        <tr>
          <td style="padding-right: 15px">
            <img src="/static/icons/left-click (2).png" />
          </td>
          <td>Floating Mode</td>
        </tr>

        <tr>
          <td style="padding-right: 15px">
            <img src="/static/icons/scroll (1).png" />
          </td>
          <td>Navigate images (in floating mode)</td>
        </tr>
        <tr>
          <td style="padding-right: 15px">
            <img src="/static/icons/right-click.png" />
          </td>
          <td>Toggle HD Mode</td>
        </tr>
      </table>
    </div>
    <script>
      var showPopup = {{ show_popup|tojson }};
    </script>
    <script src="{{ url_for('static', filename='script3.js') }}"></script>
  </body>
</html>

<!-- <a href="https://www.flaticon.com/free-icons/keypad" title="keypad icons">Keypad icons created by Roundicons Premium - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/keypad" title="keypad icons">Keypad icons created by Roundicons Premium - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/square-0" title="square-0 icons">Square-0 icons created by iconading - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/right-click" title="right-click icons">Right-click icons created by Smashicons - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/scroll-down" title="scroll-down icons">Scroll-down icons created by Smashicons - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/left-click" title="left-click icons">Left-click icons created by Smashicons - Flaticon</a> -->
